* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    border: none;
    cursor: pointer;
}

.container__controlador {
    width: 250px;
    height: 250px;
    padding: 30px;
    color: #fff;
    background: #000;
    position: absolute;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;
}

.wrapper__btns {
    height: 60px;
    width: 100%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid #fff;
}

.wrapper__btns button {
    width: 30px;
    height: 30px;
    background: #fff;
}

#contador {
    height: 25px;
    width: 75px;
    text-align: center;
    font-size: 1.7em;
}

.container__game {
    max-width: 600px;
    max-height: 600px;
    width: 95vw;
    height: 95vw;
    display: flex;
    flex-wrap: wrap;
}

.btn__game {
    width: 50%;
    height: 50%;
}

#btn1 {
    background-color: #d030d0;
}

#btn2 {
    background-color: #5090f0;
}

#btn3 {
    background-color: rgb(83, 80, 240);
}

#btn4 {
    background-color: #8330d0;
}

.brilhar {
    border: 15px solid #fff !important;
    transition: 0.1s linear all;
}

.click {
    border: 15px solid rgba(255, 255, 255, 0.4) !important;
    transition: 0.1s linear all;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.recordes {
    width: 610px;
    height: 610px;
    background: #000;
    color: #fff;
    overflow-y: auto;
    text-align: center;
    padding: 25px 15px;
    border: 5px solid #fff;
}

.recordes::-webkit-scrollbar {
    width: 5px;
    border-radius: none;
}

.recordes::-webkit-scrollbar-thumb {
    background: #fff;
}

.recordes::-webkit-scrollbar-track {
    background: #000;
}


#fechar {
    background: transparent;
    float: right;
    color: white;
}

#fechar:hover {
    color: rgb(190, 190, 190);
}

#lista__recordes {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding-top: 25px;
    margin-top: 25px;
}

.recorde {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
}

.invisivel {
    display: none;
    z-index: -99999;
    background: transparent;
    position: relative;
    top: -99999;
    right: -99999;
}

#abrir__recordes {
    display: block;
    position: absolute;
    top: 92.5%;
    margin: 25px 0;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    font-size: 1.1em;
}

#abrir__recordes:hover {
    color: rgb(190, 190, 190);
}

.colocar_nome {
    background: #000;
    color: #fff;
    width: 610px;
    height: 450px;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #fff;
}

#nome {
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 5px solid #fff;
    outline: none;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

#salvar {
    background: transparent;
    color: #fff;
    font-size: 1.2em;
    transition: 0.1s linear all;
}

#salvar:hover {
    color: rgb(190, 190, 190);
}

.acertou {
    border: 15px solid rgb(0, 170, 0);
}